<div class="container-conversor">
    <h1>Conversor de Moedas</h1>
  
    <div class="conversao">
      <div class="campo">
        <label for="moedaOrigem">De:</label>
        <div>
          <select [(ngModel)]="moedaOrigem" id="moedaOrigem">
            <option *ngFor="let moeda of moedas" [value]="moeda.value">
              {{ moeda.label }}
            </option>
          </select>
        </div>
      </div>
  
      <div class="campo">
        <label for="quantia">Valor:</label>
        <input
          type="number"
          [(ngModel)]="quantia"
          id="quantia"
          placeholder="Digite o valor"
        />
      </div>
  
      <div class="campo">
        <label for="moedaDestino">Para:</label>
        <div>
          <select [(ngModel)]="moedaDestino" id="moedaDestino">
            <option *ngFor="let moeda of moedas" [value]="moeda.value">
              {{ moeda.label }}
            </option>
          </select>
        </div>
      </div>
    </div>
  
    <div class="campo-botao">
      <button class="btn-converter" (click)="converter()">Converter</button>
    </div>
  
    <div *ngIf="quantiaConvertida > 0" class="resultado-conversao">
      <h3>Valor Convertido:</h3>
      <p>
        {{ quantia }} {{ moedaOrigem }} =
        {{ quantiaConvertida | number : "1.2-2" }} {{ moedaDestino }}
      </p>
    </div>
  
    <div *ngIf="historico.length > 0" class="custom-table">
      <h3>Histórico de Conversões:</h3>
      <p-table [value]="historico">
        <ng-template pTemplate="header">
          <tr>
            <th>Data:</th>
            <th>De:</th>
            <th>Para:</th>
            <th>Valor:</th>
            <th>Valor Convertido:</th>
            <th>Taxa:</th>
            <th>Ações:</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-i="rowIndex">
          <tr>
            <td>{{ item.data }}</td>
            <td>{{ item.moedaOrigem }}</td>
            <td>{{ item.moedaDestino }}</td>
            <td>{{ item.quantia | number : "1.2-2" }}</td>
            <td>{{ item.quantiaConvertida | number : "1.2-2" }}</td>
            <td>{{ item.taxaDeCambio | number : "1.4-4" }}</td>
            <td>
               <button class="btn-excluir" (click)="excluirHistorico(i)">
                <i class=" pi pi-trash"></i>
               </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
